{% extends 'base.html.twig' %}

{% block title %} Conditions {% endblock %}

{% block nav %}
    <a class="nav-item nav-link" href="{{ path('home') }}">ACCUEIL</a>
{% endblock %}

{% block body %}







    <div class="container text-dark bg-light pb-5 px-5">

        <section>
            <h1 class=" text-center mb-5">Conditions générales d’utilisation</h1>


            <p>
                Ensemble des règlements régissant la participation des internautes au site <strong>Cinéfilons</strong>

                Conditions d’utilisation
                Charte d'écriture
                Règles de bonnes conduite
                Violation de Droits d’Auteur
                Conditions générales d’utilisation de la billetterie en ligne
                Conditions générales du service Cinéfilons Premium sur les applications mobiles

                Conditions Générales d’Utilisation

                (Dernière mise à jour le 28/07/2015)

                Les présentes conditions générales d’utilisation (ci-après « les Conditions Générales ») sont
                conclues entre la
                société Cinéfilons, 22, rue Paul Vaillant Couturier 77500 CHELLES (ci-après « Cinéfilons ») et
                l’Utilisateur, tel
                qu’identifié lors du processus d’ouverture du compte utilisateur (ci-après « l’Utilisateur »).
                1. Edition et hébergement du site Internet cinéfilons.fr
                1.1. Edition du Site Internet cinéfilons.fr

                Le site cinéfilons.fr est édité par la société CINEFILONS ACADEMY. </p>

        </section>

       <section>
           <h2 class=" text-center mb-5 mt-5">1.1. Hébergement du Site</h2>


           <p>
               Cinéfilons propose à l’Utilisateur, sur son site Internet accessible à l’adresse
               http://www.cinéfilons.fr, (ci-après « le Site »), différents services liés notamment au cinéma et
               séries télévisées (ci-après les « Services »). Les Services sont présentés sur les pages du Site.
               Par Service(s), on entend, sans que cette liste soit limitative, les contenus proposés, les éléments
               de mise en valeur des contenus, la mise à disposition d’outils, notamment l’outil de lecture de
               contenus vidéos (ci-après désigné par le terme « Lecteur(s) ») et plus généralement tout autre
               service proposé par Cinéfilons et disponible notamment à l’adresse : http://www.allocine.fr et/ou à
               toute autre adresse qui viendrait s’ajouter ou de substituer à celle-ci.

               Cinéfilons se réserve le droit d'ajouter, de supprimer ou de modifier tout ou partie des espaces des
               Services qu’elle propose.

               Cinéfilons se réserve le droit de mettre à jour, de modifier et/ou de supprimer tout ou partie des
               Services à tout moment et sans préavis.

               Les présentes Conditions Générales ont pour objet de régir la mise à disposition et/ou l’accès par
               l’Utilisateur à ces Services et l’utilisation qu’il en fait.

               L’accès et l’utilisation de tout ou partie des Services proposés sur le Site impliquent de la part
               de l’Utilisateur une acceptation pleine et entière de l’ensemble des présentes Conditions Générales.

               L’Utilisateur confirme donc avoir lu et compris l’intégralité des présentes Conditions Générales
               avant toute utilisation des Services. L’Utilisateur s’engage à respecter les présentes Conditions
               Générales.

               L’acceptation des Conditions Générales exclut l’application de toute disposition différente ou
               contraire. Les stipulations des présentes Conditions Générales prévaudront en toute hypothèse.

               Toute utilisation des Services contraire aux Conditions Générales est prohibée et sanctionnée,
               conformément à l’article 9 des présentes Conditions Générales.

               Les Conditions Générales constituent l’intégralité du contrat passé entre l’Utilisateur et
               Cinéfilons et, le cas échéant, annulent et remplacent l’ensemble des contrats, négociations et
               ententes antérieures entre l’Utilisateur et Cinéfilons.

               Cinéfilons pourra proposer des conditions particulières complémentaires relatives à certains
               Services spécifiques, qui doivent être acceptées par l’Utilisateur s’il souhaite avoir accès aux
               dits Services.
               3. Accès aux Services

               Seules les personnes ayant ouvert un compte utilisateur (ci-après dénommé le « Compte » ou « Compte
               Utilisateur ») et, pour ce faire, dûment rempli le formulaire comportant toutes les informations
               obligatoires (matérialisées par un astérisque) demandées par Cinéfilons et ayant consenti sans
               réserve aux présentes Conditions Générales d’Utilisation peuvent avoir accès et utiliser les
               Services soumis à un accès. Ces services sont notamment les suivants :

               possibilité de noter et de rédiger des appréciations sur les films, séries et personnalités
               publication de critiques
               choix de cinémas favoris
               publication de commentaires
               choix d’amis
               configuration du profil
               accès et participation aux forums Cinéfilons
               participation aux jeux-concours Cinéfilons
               réception d’alertes et de newsletters par email

           </p>
       </section>


       <section>
           <h2 class=" text-center mb-5 mt-5">1.2. Objet des Conditions Générales</h2>

           <p>
               Cette inscription peut s’effectuer soit par le Site, soit, le cas échéant, selon d’autres modalités
               proposées par Cinéfilons, et notamment par l’utilisation d’outils nomades (dont les téléphones
               portables).

               Les autres Services proposés par Cinéfilons sont en accès libre.

               Cinéfilons peut créer des nouveaux services soumis à un accès et/ou décider qu’un service en accès
               libre sera soumis à un accès.
               4. Ouverture d’un Compte Utilisateur (inscription de l’Utilisateur)

               L’Utilisateur est amené à communiquer à Cinéfilons des informations personnelles, qui permettront
               ensuite de l’identifier et de faciliter l’accès sécurisé au Site et aux Services et l’utilisation
               des Services.

               L’Utilisateur doit ainsi communiquer : ses nom, prénom, date de naissance, adresse électronique.

               Lorsque l’Utilisateur remplit le formulaire d’inscription aux Services, il s’engage à le remplir
               correctement, et notamment à ne communiquer que des informations exactes, à jour et complètes.

               L’Utilisateur s’engage à mettre à jour les informations le concernant à chaque changement de sa
               situation. L’Utilisateur s’engage à effectuer ces modifications sur le Site directement depuis son
               Compte.

               Si Cinéfilons a connaissance que tout ou partie des informations communiquées lors de l’inscription
               sont erronées ou incomplètes, Cinéfilons se réserve le droit de suspendre et/ou clôturer le Compte
               de l’Utilisateur et/ou de bloquer tout nouvel accès et/ou usage des Services, sans préjudice de tout
               autre recours ou action.

               L’inscription entraîne l’acceptation expresse et sans réserve par l’Utilisateur des présentes
               Conditions Générales matérialisée par le « cochage » obligatoire de la case d’acceptation des
               Conditions Générales « J’ai lu et j’accepte l’ensemble des règles édictées par les présentes
               Conditions Générales d’Utilisation ». L’Utilisateur s’engage à conserver sur un support durable les
               Conditions Générales d’Utilisation qui lui sont fournies par Cinéfilons sur un tel support.

               En cliquant sur le bouton « J’ai lu et j’accepte l’ensemble des règles édictées par les présentes
               Conditions Générales d’Utilisation », l'Utilisateur reconnaît qu'il a la capacité juridique pour
               conclure une telle convention ou qu'il dispose de l'autorisation de la personne habilitée.

               L’Utilisateur a la possibilité de s’inscrire en utilisant son compte Facebook. En cas d’inscription
               via le compte Facebook de l’Utilisateur, ce dernier est seul responsable du respect de ses
               obligations vis-à-vis de Facebook. En cas de contradiction entre les conditions générales de
               Facebook et les présentes Conditions Générales, les stipulations des Conditions Générales
               prévaudront en toute hypothèse.
               5. Identifiants et mot de passe

               Lors de son inscription, l’Utilisateur est amené à rentrer son adresse email servant à l’identifier
               (l’ « Identifiant de Connexion ») et à permettre une connexion plus rapide lors de l’utilisation des
               Services ainsi qu’à choisir un mot de passe d'au moins quatre caractères alphanumériques (le « Mot
               de Passe »).

               Lors de son inscription, l’Utilisateur doit également choisir un pseudonyme (ci-après le « Pseudo
               »). Le Pseudo est différent de l’identifiant de connexion. Le Pseudo est visible des autres
               Utilisateurs. Le Pseudo identifie l’Utilisateur en tant que personne.

               L’Utilisateur s’engage à choisir un Identifiant de Connexion et un Pseudo qui soient disponibles et
               licites. Il s’interdit notamment de choisir un Identifiant de Connexion ou un Pseudo pouvant porter
               atteinte à un quelconque droit de propriété intellectuelle, nom commercial ou droit de la
               personnalité de tiers.

               L’Identifiant de Connexion et le Pseudo choisis par l’Utilisateur ne doivent en outre pas :

               faire référence à une orientation politique, à une ethnie, une communauté, une religion,
               être vulgaires ou insultants,
               avoir de connotation sexuelle voire pornographique,
               faire référence à un produit stupéfiant ou toute autre substance interdite par la législation
               française,
               faire référence à des boissons alcoolisées, au tabac ou aux produits du tabac,
               être orthographié ou épelé alternativement dans le but de contourner les règles imposées ci-dessus.
           </p>
       </section>


        <h1 class=" text-center mb-5 mt-5">Identification</h1>


        <p>
            Cinéfilons se réserve le droit de supprimer et/ou de demander à récupérer des Identifiants de
            Connexion, à tout moment et quelle qu’en soit la raison, et notamment, sans toutefois s’y limiter,
            en raison de prétentions de tiers indiquant qu’un identifiant constitue une violation de leurs
            droits.

            L’Utilisateur accepte que sur le Site son nom ou Pseudo soient accessibles publiquement, et les
            conséquences attachées, notamment le fait que certains moteurs de recherche puissent les indexer,
            sans que la responsabilité de Cinéfilons puisse être engagée.

            Le Mot de Passe est personnel et confidentiel. L’Utilisateur en est seul responsable. Il s’engage à
            ne pas le divulguer à des tiers et à prendre toutes les précautions nécessaires pour éviter que des
            tiers puissent y avoir accès.

            Pour garantir la sécurité de son Compte, l’Utilisateur s’engage à :

            ne pas divulguer à des tiers ni son Identifiant de Connexion, ni son Mot de Passe ;
            prendre toutes les précautions nécessaires pour éviter que des tiers puissent y avoir accès ;
            prendre toutes les mesures afin d’éviter qu’un tiers puisse accéder au Compte que l’Utilisateur a
            activé, même à son insu ;
            ne pas donner accès à son Compte à un tiers ;
            utiliser une boîte courriel personnelle et ne pas partager cette adresse ;
            ce qu’Cinéfilons puisse facilement entrer en contact avec l’Utilisateur, pour quelque raison que ce
            soit, via son adresse courriel.</p>


<section>


    <h2 class=" text-center mb-5 mt-5">1.3. Accès aux Services</h2>
    <br>
    <p>
        Le prêt, le partage, l’échange, le don, l’achat, le transfert et la vente de Comptes sont interdits.
        Tout prêt, partage, échange, achat, transfert ou vente de Compte ne sera pas opposable à Cinéfilons
        et pourra donner lieu aux sanctions prévues à l’article 9 des présentes Conditions Générales.

        L’Utilisateur est seul responsable de l’utilisation de son Compte. Toute connexion ou transmission
        d’ordres ou de données effectuée au moyen de son Mot de Passe sera réputée avoir été effectuée par
        lui-même et sous sa responsabilité exclusive.

        Afin de préserver le caractère personnel et confidentiel de son accès, il est recommandé à
        l’Utilisateur de se déconnecter de son Compte à la fin de chaque session d’accès en cliquant sur «
        Me déconnecter » ou toute mention similaire proposée.

        En cas d’utilisation frauduleuse de son Compte et/ou Mot de Passe, ou en cas de perte ou de vol de
        son Mot de Passe, l’Utilisateur s’engage à en informer immédiatement Cinéfilons.

        Dans le cas où l’Utilisateur suspecte raisonnablement une faille dans la sécurité, y compris la
        perte, le vol ou l’utilisation non autorisée de son identifiant de connexion et mot de passe ou tout
        autre problème lié à la sécurité de son Compte, il doit avertir immédiatement Cinéfilons. Cinéfilons
        pourra alors réinitialiser son mot de passe.

        Cinéfilons pourra également bloquer l’accès au Compte en question.

        En cas d’oubli du Mot de Passe, l’Utilisateur le signale sur la page d’ouverture du Site en cliquant
        sur la rubrique «J’ai oublié mon mot de passe ». Dans ce cas, l’Utilisateur doit renseigner son
        Identifiant de Connexion et recevra à l’adresse électronique renseignée lors de son inscription un
        courriel lui indiquant un nouveau mot de passe.
        6. Protection des données à caractère personnel

        6.1. Conformément à la loi n°78-17 du 6 janvier 1978 modifiée, relative à l’informatique, aux
        fichiers et aux libertés, Cinéfilons informe l’Utilisateur qu’elle respecte la confidentialité,
        l’intégrité et la sécurité des données qu’il peut être amené à lui communiquer par le biais du Site
        ou des Services.

        Toute donnée à caractère personnel identifiant indirectement ou directement l’Utilisateur, notamment
        : nom, prénom, coordonnées postales, électroniques, téléphoniques, ou indirectement, est considérée
        selon la législation applicable comme une donnée confidentielle et traitée comme telle.

        Il est toutefois entendu que si l’Utilisateur choisit comme pseudonyme ses nom et prénom, il ne
        pourra opposer le caractère confidentiel de ces données à Cinéfilons.

        L’ouverture d’un Compte Utilisateur est soumise à la réalisation d’un traitement de données à
        caractère personnel dont le responsable est Cinéfilons, ce que l’Utilisateur accepte.

        Ce traitement des données personnelles de l’Utilisateur est déclaré à la Commission Nationale de
        l'Informatique et des Libertés (CNIL).

        Cinéfilons procède aux mises à jour de la déclaration CNIL si nécessaire.

        Les données collectées proviennent de la fourniture de leurs informations par les personnes
        désireuses d’accéder ou d’utiliser les Services et de devenir Utilisateur.

        Les données pourront être utilisées pour les besoins de la gestion des opérations effectuées sur le
        Site et notamment l’accès et l’utilisation des Services.

        Cinéfilons conserve les données personnelles de l’Utilisateur pour la durée nécessaire aux finalités
        décrites au présent article et aux fins de conserver les éléments nécessaires en cas de mise en jeu
        de sa responsabilité contractuelle et/ou délictuelle. Au-delà de cette durée, seules des données
        statistiques rendues anonymes seront conservées et ne donneront lieu à aucune exploitation, de
        quelque nature que ce soit.

        Sous réserve de justifier de son identité, l’Utilisateur dispose d'un droit d'accès, de
        modification, de rectification et de suppression des données qui le concernent. L’Utilisateur peut
        mettre en œuvre ce droit en écrivant à Cinéfilons à l'adresse électronique suivante :
        adm@allocine.fr, ou à l’adresse postale suivante: Cinéfilons, 2, rue Paul Vaillant Couturier 92300
        Levallois-Perret.

        Conformément à l'article 32 loi informatique et libertés et au vu de cette Newsletter qui collecte
        des données personnelles, l'utilisateur doit être informé de :

        De l'identité du responsable du traitement et, le cas échéant, de celle de son représentant
        De la finalité poursuivie par le traitement auquel les données sont destinées
        Du caractère obligatoire ou facultatif des réponses
        Des conséquences éventuelles, à son égard, d'un défaut de réponse
        Des destinataires ou catégories de destinataires des données
        Des droits qu'elle tient des dispositions de la section 2 du présent chapitre dont celui de définir
        des directives relatives au sort de ses données à caractère personnel après sa mort
        Le cas échéant, des transferts de données à caractère personnel envisagés à destination d'un Etat
        non membre de la Communauté européenne
        De la durée de conservation des catégories de données traitées ou, en cas d'impossibilité, des
        critères utilisés permettant de déterminer cette durée.

        6.2. Pour des besoins statistiques, Cinéfilons peut être amenée à recueillir des informations de
        navigation via l'utilisation de cookies. L'acceptation de ces cookies est obligatoire pour toute
        souscription, gratuite ou payante.

        L’Utilisateur peut à tout moment supprimer l’enregistrement des cookies, ou les cookies déjà
        enregistrés sur son ordinateur, en paramétrant les options de protection de la vie privée de son
        navigateur Internet (par exemple : Outils > Effacer mes traces > Cookies, sur Mozilla Firefox et
        Outils > Supprimer l’historique de navigation > Supprimer les cookies, sur Microsoft Internet
        Explorer).

        Cinéfilons se réserve également le droit de collecter certaines informations :

        liées à l’ordinateur de l’Utilisateur (IP, fournisseur d'accès, configuration matérielle,
        configuration logicielle)
        liées aux Services (log et historique de tous les échanges de données, « log » et historique des
        connexions).

        Cinéfilons pourra utiliser ces informations à toutes fins, notamment pour cibler les bandeaux
        publicitaires, améliorer l'utilisation des Services ou contrôler le respect des termes des présentes
        Conditions Générales.

        Cinéfilons pourra par ailleurs transmettre les données de l’Utilisateur à des partenaires
        commerciaux, sous réserve de l’autorisation expresse de l’Utilisateur lors de son inscription.

        Toutes les informations contenues sur les serveurs pourront être utilisées par Cinéfilons pour
        effectuer tout type de contrôle à des fins de prévention et de sanction.

        6.3. En règle générale, Cinéfilons s’engage à ne pas divulguer les données personnelles de ses
        Utilisateurs, sauf avec leur autorisation expresse ou dans des circonstances très particulières,
        telles celles qui sont envisagées et précisées dans les présentes Conditions Générales, et notamment
        ;

        Cinéfilons pourra être amenée – du fait de la loi, dans le cadre d’une procédure en justice, d’un
        litige et /ou d’une requête des autorités publiques du pays de résidence de l’Utilisateur ou autre –
        à divulguer les données personnelles précitées ;
        Cinéfilons pourra également divulguer ces données si la divulgation est nécessaire à des fins de
        sécurité nationale, d’application de la loi ou autre sujet d’intérêt public ;
        Cinéfilons peut également divulguer des données concernant ses Utilisateurs si cette divulgation est
        raisonnablement nécessaire pour faire valoir le respect des présentes Conditions Générales ou
        protéger ses activités ou ses Utilisateurs ;
        en cas de restructuration ou de cession, Cinéfilons pourra transférer toute donnée personnelle
        qu’elle conserve au tiers concerné.

        7. Fourniture et Utilisation des Services
        7.1. Engagements et Responsabilité d’Cinéfilons

        Aucun terme des présentes Conditions Générales n’affectera les droits d’ordre public auquel
        l’Utilisateur peut prétendre en qualité de consommateur et auxquels l’Utilisateur ne peut renoncer
        en application d’un contrat.

        Cinéfilons fournit les Services en l’état, et n’accorde aucune garantie à cet égard. En particulier,
        Cinéfilons ne prend pas d’engagement de disponibilité d’accès.

        Compte tenu notamment des aléas techniques liés au fonctionnement décentralisé du réseau Internet,
        Cinéfilons ne fournit aucune garantie de continuité de service ou d’absence d’erreurs des Services.

        Dans toute la mesure permise par la réglementation en vigueur, Cinéfilons ne prend aucun engagement,
        express ou implicite, notamment concernant la qualité et la compatibilité des Services aux usages de
        l’Utilisateur. Aucune information ou conseil donné par Cinéfilons, via les Services ou non, ne crée
        d’obligation pour Cinéfilons ni de garantie.

        En particulier, Cinéfilons ne déclare ni ne garantit :

        que l’utilisation des Services répondra aux besoins de l’Utilisateur ;
        que l’utilisation faite des Services par l’Utilisateur sera ininterrompue, opportune, sécurisée ou
        exempte d’erreurs ;
        que toute information obtenue en utilisant les Services sera exacte ou fiable ;
        que les défauts dans le fonctionnement ou les fonctionnalités de tout logiciel qui aura été fourni à
        l’Utilisateur dans le cadre des Services seront corrigés.

        Cinéfilons ne garantit pas que l’accès à tout ou partie des Services demeure gratuit pendant une
        durée indéfinie. En cas d’instauration de nouveaux services payants ou de modification d’un service
        gratuit en un service payant, des Conditions Spécifiques d’Utilisation seront proposés à
        l’Utilisateur au préalable, ou le cas échéant de nouvelles Conditions Générales d’Utilisation.

        Sous réserve des garanties expressément prévues aux présentes Conditions Générales, aucune
        condition, garantie ou autre terme (y compris toute garantie implicite de qualité satisfaisante,
        d’adéquation à un usage particulier ou de conformité à la description) ne s’applique aux Services.

        Dans le cas où la responsabilité d’Cinéfilons serait néanmoins engagée, la réparation ne
        s’appliquera qu’aux seuls dommages directs, personnels, certains, à l’exclusion, sans que cette
        liste ne soit limitative, de tous dommages et/ou préjudices indirects et/ou immatériels, tels que
        les préjudices commerciaux, moraux et financiers, y compris toute perte de bénéfices ayant pour
        cause, origine ou fondement l’utilisation du Site ou des Services.

        En toute hypothèse, Cinéfilons ne pourra voir sa responsabilité engagée en cas de faute ou de fait
        totalement ou partiellement imputable à l’Utilisateur, à un tiers ou en cas de survenance d’un cas
        de force majeure.

        Dans tous les cas où la responsabilité d’Cinéfilons pourrait être engagée, toute action ou
        réclamation quelle qu’elle soit ne pourrait être engagée contre Cinéfilons plus d'1 (un) an après le
        jour du manquement commis par Cinéfilons.
        7.2. Responsabilité des partenaires

        Les Services présentés par les partenaires d’Cinéfilons, le sont sous la seule responsabilité de
        ceux-ci. En conséquence, Cinéfilons est dégagée de toute responsabilité du fait des contenus édités
        et/ou des services proposés par les partenaires par l’intermédiaire du Site et/ou des Services, ce
        que l’Utilisateur accepte expressément.
        7.3. Liens hypertextes

        Le Site peut contenir des liens hypertextes vers des contenus émanant de tiers ou vers des sites
        Internet exploités par des tiers.

        Cinéfilons n’est pas responsable de la qualité ou de l'exactitude de ces contenus ni de ces sites
        Internet et ne peut pas non plus être considérée comme approuvant, publiant ou autorisant ces sites
        Internet ou ces contenus.

        Par conséquent, les exploitants de ces sites sont seuls responsables du respect des législations et
        réglementations applicables, notamment quant aux produits et services qu'ils mettent en vente sur
        leur site, et plus particulièrement en matière de protection du consommateur, de vente à distance,
        réglementation des prix, protection des données personnelles, etc.

        Cinéfilons décline toute responsabilité quant aux dommages pouvant résulter de l’utilisation de ces
        sites.
        7.4. Lecteurs

        Les contenus vidéos accessibles par le Site et les Services peuvent être visualisés à l’aide de
        lecteurs.

        L’utilisation des Lecteurs est réservée à un usage personnel et non commercial de l’Utilisateur, et
        uniquement à des fins de streaming sur le Site.

        Cinéfilons se réserve seule le droit d’insérer ou d’autoriser tout tiers de son choix à insérer dans
        toutes pages du Site et/ou des Services des messages publicitaires, promotionnels et/ou de
        parrainage, et notamment dans les Lecteurs.

        Cinéfilons peut insérer ou autoriser tout tiers de son choix à insérer dans les Lecteurs avant ou
        après la visualisation des vidéos des messages publicitaires, promotionnels ou de parrainage. Ces
        messages ne sont pas considérés comme étant incorporés dans les vidéos.

        Les Lecteurs peuvent offrir à l’Utilisateur des fonctionnalités lui permettant de choisir de rendre
        accessible des contenus à partir des Lecteurs en dehors du Site. Cette simple fourniture de ces
        fonctionnalités n’implique aucune autorisation d’exploitation des contenus, ces exploitations étant
        effectuées sous la seule responsabilité de l’Utilisateur, lequel devra faire son affaire de toute
        autorisation éventuellement nécessaire pour une utilisation en dehors du Site.

        En aucun cas les Lecteurs ne peuvent être utilisés en dehors du Site à des fins commerciales ou
        publicitaires, ou associés à d’autres contenus à des fins commerciales ou publicitaires.

        Il est également interdit à quiconque d’occulter, supprimer ou modifier tout message publicitaire
        diffusé avec les Lecteurs par Cinéfilons.
        7.5. Propriété intellectuelle – Parasitisme – interdiction d’utilisation des données – Protection du
        Site et des bases de données

        Attention : Toutes les données et informations présentes ou accessibles par le site Cinéfilons ne
        peuvent en aucun cas être reprises et utilisées à d’autres fins que la consultation privée par
        l’Utilisateur directement connecté sur le Site. Cinéfilons est et sera particulièrement vigilante,
        et engagera toute action appropriée contre toute reprise quelconque effectuée en violation des
        droits de propriété intellectuelle et/ou de la loi et /ou des Conditions Générales du site.</p>
</section>
    </div>

{% endblock %}