{% extends 'base.html.twig' %}

{% block title %} Accueil {% endblock %}



{% block body %}


        <div class="text-light">

        </div>

        <main class="#">

            <!--SECTION 1 HEADER-->
            <div class="container couleurfont">
                <div class="row my-0 ">
                    <div class="col-lg-8 pl-0 slider">

                        <div id="carouselExampleInterval"  data-interval="5000" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner slider">
                                {% for film in top_slider %}
                                <div class="carousel-item{% if loop.index==1%} active{% endif %}">
                                    <img src="{{ film.poster }}" class="d-block w-100 img-responsive" alt="First slide">
                                </div>

                               {% endfor %}

                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleInterval" role="button"
                               data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleInterval" role="button"
                               data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>



                        </div>
                    </div>




                    <div class="col-lg-4 text-center">
                        <article id="prochainement">
                            <h3 id="prochainement-top" class="text-light font-weight-lighter">PROCHAINEMENT</h3>

                            <iframe width="560" height="215" src="https://www.youtube.com/embed/JQcl2FHUle0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>

                            <a href="https://www.youtube.com/watch?v=L4WwZfH3-yA">
                                <ul>
                                    <li>30 jours max</li>
                                </ul>
                            </a>
                            <a href="https://www.youtube.com/watch?v=tZ8a8TO2TSc">
                                <ul>
                                    <li>T’as pécho ?</li>
                                </ul>
                            </a>
                            <a href="https://www.youtube.com/watch?v=lVYwe2htD-s">
                                <ul>
                                    <li>Jurassic World: Dominion</li>
                                </ul>
                            </a>
                            <a href="https://www.youtube.com/results?search_query=tenet+trailer">
                                <ul>
                                    <li>Tenet</li>
                                </ul>
                            </a>
                            <a href="https://www.youtube.com/watch?v=KK8FHdFluOQ">
                                <ul>
                                    <li>Mulan</li>
                                </ul>
                            </a>
                            <a href="https://www.youtube.com/watch?v=vz-gdEL_ae8">
                                <ul>
                                    <li>Greenland</li>
                                </ul>
                            </a>
                            <a href="https://www.youtube.com/watch?v=IANO56K_UVw&t=18s">
                                <ul>
                                    <li>Les Blagues de Toto</li>
                                </ul>
                            </a>
                            <a href="https://www.youtube.com/watch?v=5zdBG-iGfes">
                                <ul>
                                    <li>Kingsman</li>
                                </ul>
                            </a>
                                    <li style="border: solid black 2px" >FILM À VENIR</li>


                                    <ul class="fa fa-film mt-3 dernier_pro" style="font-size:2.5rem;"></ul>




                        </article>
                    </div>
                </div>
                <!-- Identification -->


            </div>
            <!-- Train vide -->
            <div class="vide">

            </div>
            <!--SECTION 2 TOP FILMS NOUVEAUTES-->

            {% include 'film/inc/_film_list.html.twig' with { films: top_nouveaute, title_section: 'TOP NOUVEAUTES' } %}

            <!-- Train vide -->
            <div class="vide">

            </div>
            <!--SECTION 3 TOP FILMS US-->

            {% include 'film/inc/_film_list.html.twig' with { films: top_us, title_section: 'TOP US' } %}

            <!-- Train vide -->
            <div class="vide">

            </div>

            <!--SECTION 4 TOP FILMS FRANCAIS-->
            {% include 'film/inc/_film_list.html.twig' with { films: top_francais, title_section: 'TOP FRANCAIS' } %}

            <!-- Train vide -->
            <div class="vide">

            </div>
            <!--SECTION 5 TOP FILMS ENFANTS-->

            {% include 'film/inc/_film_list.html.twig' with { films: top_filmsenfants, title_section: 'TOP ENFANTS' } %}


            <!-- Train vide -->
            <div class="vide">

            </div>

            <section id="videos" class="bonus">

                <div class="container p-4">
                    <!--bonus-->

                    <h1 class="text-center text-white mb-4" id="videotitre">BANDES-ANNONCES</h1>

                    <div class="row text-center ">

                        <div class="col-lg-6">

                            <iframe width="560" height="415" src="https://www.youtube.com/embed/m9eIeQdIebE"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>

                        <div class="col-lg-6">
                            <iframe width="560" height="415" src="https://www.youtube.com/embed/IANO56K_UVw"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </section>

                <!--Carousel BONUS-->
                <div id="video-carousel" class=" carousel slide carousel-fade" data-ride="carousel" >
                    <!--MODIFICATIONS LI-->
                    <ol class="carousel-indicators">
                        <li data-target="#video-carousel-example" data-slide-to="0" class="active"></li>
                        <!--<li data-target="#video-carousel-example" data-slide-to="1"></li> -->
                        <!-- <li data-target="#video-carousel-example" data-slide-to="2"></li> -->
                    </ol>

                    <!--LE SLIDE-->
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <video class="video-fluid w-100" autoplay loop muted>
                                <source src="video/bestmovie.mp4"
                                        type="video/mp4" />
                            </video>
                        </div>

                        <a class="carousel-control-prev" href="#video-carousel-example" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#video-carousel-example" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>

                    </div>
                </div>
                <!--Carousel BONUS-->


            <!-- Train vide -->
            <div class="vide">

            </div>

            <!--UP IN TOP
            <div id="gototop">
                <a href="#top">
                    <i class="fas fa-caret-up" id="up"></i>
                </a>
            </div>-->
        </main>


{% endblock %}

    {% block javascripts %}

        <script src="{{ asset('assets/js/script2.js') }}"></script>

    {% endblock %}
