{% extends 'base.html.twig' %}

{% block title %} {{ user.firstname }} {{ user.lastname }} {% endblock %}

{% block body %}

 <div class="container">





  <a href="{{ path('home') }}" class="btn btn-primary">
   Retour à la page d'accueil
  </a>
 </div>
{% endblock %}
